@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #f9f4e4;
        --foreground: #000000;
        --red: red;
        --primary: #605f4b;
        --secondary: #9c9e80;
        --muted: #e0dbcd;
        --padding: 24px;
        --padding-sm: 16px;
    }
}

.input {
    @apply w-full px-4 py-2 bg-transparent border text-th-foreground border-th-foreground rounded-md placeholder:text-th-muted;
}

/* https://uiverse.io/kennyotsu/short-warthog-33 */
.dot-pattern {
    background-color: var(--foreground);
    background-image: radial-gradient(
        rgba(255, 255, 255, 0.171) 2px,
        transparent 0
    );
    background-size: 30px 30px;
    background-position: -5px -5px;
}

/* Toolbar styles */
.w-md-editor-toolbar {
    @apply text-lg bg-th-primary text-th-background rounded-t-md shadow-md;
}

/* Editor area styles */
.w-md-editor-content,
.w-md-editor-text {
    @apply text-base bg-th-foreground text-th-background;
}

.w-md-editor-content {
    @apply border border-th-foreground;
}

/* Preview area styles */
.w-md-editor-preview {
    @apply bg-white border border-th-muted rounded-b-md;
}

.w-md-editor-preview > .wmde-markdown-color {
    @apply bg-white text-th-foreground;
}

/* Target headings in the Markdown content */
.w-md-editor-text-input h1 {
    color: var(--primary);
    font-weight: bold;
}

/* Alternatively, for more control, you can use specific classes */
.w-md-editor-content .md-editor-heading {
    color: var(--th-primary);
    /* Custom color for headings */
}

html,
body {
    background-color: var(--background);
    color: var(--foreground);
    font-size: 16px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-optical-sizing: auto;
    line-height: 1.5;
    font-weight: 400;
    font-style: normal;
    scrollbar-color: var(--foreground) var(--background);
    scrollbar-width: thin;
    scroll-behavior: smooth;
}
