:root {
  --resume-background: #eff1f5;
  --resume-foreground: #4c4f69;

  --title-color: #000;
  --subtitle-color: #5c5f77;
  --link-color: #1e66f5;

  --fs-xs: 14px;
  --fs-sm: 16px;
  --fs-md: 18px;
  --fs-lg: 20px;
}

.resume {
  margin: 0;
  padding: 0;
  background: var(--resume-background);
  color: var(--resume-foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--fs-xs);
  line-height: 1.5;
  max-width: 1200px;
  margin: 0 auto;
}

.resume a {
  color: var(--link-color);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
}


.resume h1 {
  text-align: center;
  font-size: var(--fs-lg);
  margin-bottom: 0.8rem;
  color: var(--title-color);
}

.resume h2 {
  font-size: var(--fs-md);
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: var(--title-color);
}

.resume h3 {
  font-size: var(--fs-sm);
  color: var(--subtitle-color);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.resume .resume-section {
  padding: 0.7rem;
}

.resume ul {
  list-style-type: disc;
  margin-top: 0.5rem;
}

.resume li {
  margin-bottom: 0.5rem;
}

.resume em {
  font-style: italic;
}

.resume strong {
  font-weight: bold;
}
